body{
  background :#f6f8fd;
}
.cards {
    /* margin: 0 auto; */
    text-align: center;
    display: -webkit-flex;
    display: flex;
    border-radius: 10px;
    -webkit-justify-content: center; 
    justify-content: center;
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
    width: calc(25% - 30px); /* 20px is the combined margin/padding of .cards */
    margin-bottom: 20px;
    box-sizing: border-box;
}
  
.cards:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
}

.container{
  margin: 0 100px;
}

 /* Flexbox layout for the container */
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        /* Style for each card */
        .card {
            width: calc(25% - 15px); /* 4 cards in the first row, with some spacing */
            margin-bottom: 20px;
            background-color: #fefffe;
            padding: 20px;
            box-sizing: border-box;
            border-radius: 10px;
        }

        /* Adjust the width for the second row */
        .card:nth-child(5),
        .card:nth-child(8),
        .card:nth-child(9),
        .card:nth-child(12){
            width: calc(65% - 10px); /* 2 cards in the second row */
        }
        .card:nth-child(6),
        .card:nth-child(7),
        .card:nth-child(10),
        .card:nth-child(11){
            width: calc(35% - 10px); /* 2 cards in the second row */
        }
