@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: auto;
  margin: 0 100px;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.search {
  width: 400%; /* Adjusted width */
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.searchTerm {
  width: 80%; /* Adjusted width */
  height: auto;
  border: 1px solid #b6c1c2;
  border-right: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #b6c1c2;
}

.searchButton {
  width: 10%; /* Adjusted width */
  border: 1px solid #2F2CD8;
  background: #2F2CD8;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 20%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.cardmain {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.3s ease;
}

.cardmain:hover {
  transform: translateY(-5px);
}

.card h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 18px;
  color: #666;
  margin-bottom: 5px;
}

/* CSS */
.searchButton {
  border: 1px solid #2F2CD8;
  background: #2F2CD8;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.button {
  background-color: transparent;
  border: 2px solid #1A1A1A;
  color: #3B3B3B;
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  margin-left: 20px;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}