body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-smi: 13px;
  
    /* Colors */
    --color-white: #fff;
    --color-royalblue-100: #4c68ef;
    --color-black: #000;
  
    /* Border radiuses */
    --br-5xs: 8px;
  }
  
.logo1-1-icon {
    position: absolute;
    top: 64px;
    left: 140px;
    width: 41px;
    height: 39px;
    object-fit: cover;
  }
  .cashsnap {
    position: absolute;
    top: 72px;
    left: 197px;
    font-weight: 600;
    color: #2b92d5;
    display: inline-block;
    width: 98px;
    height: 24px;
  }
  .desktop-1-child {
    position: absolute;
    top: 63.3px;
    left: 325.3px;
    border-right: 1.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 1.5px;
    height: 40.5px;
  }
  .about,
  .story {
    position: absolute;
    top: 72px;
    left: 481px;
    font-weight: 600;
  }
  .story {
    left: 362px;
  }
  .group-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid #d0dbff;
    box-sizing: border-box;
    width: 107.5px;
    height: 46px;
  }
  .login {
    position: absolute;
    top: 15px;
    left: 31px;
    display: inline-block;
    width: 45px;
  }
  .group-item,
  .group-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 107.5px;
    height: 46px;
  }
  .group-item {
    border-radius: var(--br-5xs);
    background-color: var(--color-royalblue-100);
    height: 45px;
  }
  .register {
    position: absolute;
    top: 15px;
    left: 18.5px;
    display: inline-block;
    width: 69px;
  }
  .group-parent,
  .rectangle-group {
    position: absolute;
    top: 0;
    left: 126.5px;
    width: 107.5px;
    height: 45px;
    color: var(--color-white);
  }
  .group-parent {
    top: 61px;
    left: 1066px;
    width: 234px;
    height: 46px;
    font-size: var(--font-size-smi);
    color: var(--color-royalblue-100);
  }
  .cashsnap1 {
    position: absolute;
    top: 214px;
    left: 140px;
    font-size: 96px;
    font-weight: 800;
    color: #3953cf;
  }
  .removebg-preview-1-icon {
    position: absolute;
    top: calc(50% - 305px);
    left: 720px;
    width: 610px;
    height: 610px;
    object-fit: cover;
  }
  .manage-your-finances {
    position: absolute;
    top: 441px;
    left: 140px;
    font-weight: 600;
    color: #586e8b;
  }
  .accounting-application {
    position: absolute;
    top: 350px;
    left: 140px;
    font-size: 48px;
    font-weight: 800;
  }
  .group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-royalblue-100);
    width: 222px;
    height: 64.4px;
  }
  .open-an-account {
    position: absolute;
    top: 23px;
    left: 36px;
    display: inline-block;
    width: 150px;
    height: 17px;
  }
  .rectangle-container {
    position: absolute;
    top: 498px;
    left: 140px;
    width: 222px;
    height: 64.4px;
    font-size: 15px;
    color: var(--color-white);
  }
  .desktop-1 {
    width: 100%;
    position: relative;
    background: linear-gradient(
      116.82deg,
      #e8f3ff,
      #e9f3ff 24.5%,
      #eaf4ff 53.5%,
      #eaf4ff 73.5%,
      #f2f8ff
    );
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  