body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.container {
	width: 300px;
    height: 400px;
	background-color: #fff;
    border-radius: 10px;  
	margin: 100px auto;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2); 
    width:50%;  
    float:center;
    
}
.left{
    border-radius: 10px; 
    height: 400px;
    width:auto;
    background-color: #6261e2;
    width:50%;  
    float:left;
}
.right{
    width:50%;  
    float:left;
}
.logo{
    margin-left: 30px;
    margin-top: 20px;
}

h3 {
    margin-left: 30px;
	text-align: left;
	margin-bottom: 10px;
    color: white;
}

h2 {
    margin-left: 30px;
	text-align: left;
	margin-bottom: 10px;
    color: #1f2d73;
}

.form{
    margin-left: 30px;
    font-weight: bold;
    color:#8092b6;
}

p {
	margin-bottom: 10px;
}

.losspw{
    padding-left: 63.5%;
    color: #302cd9;
}

.step2{
    color: white;
    margin-left: 30px;
    font-size: 15px;
    padding-top: 40%;
}
.signup{
    margin-left: 30px;
    color: #8092b6;
}
a{
color:#4543db;
}

input[type="email"], input[type="password"] {
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
    margin-left: 30px;
}

input[type="submit"] {
	background-color: 
    #302cd8;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
    font-weight: bold;
    width: 85%;
    margin-left: 30px;
    /* margin-left: 30px; */
}