body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;  
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2); 
    overflow: hidden;
    display: flex;
}

.left {
    background-color: #6261e2;
    border-radius: 10px 0 0 10px;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.right {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    margin-bottom: 20px;
}

h3, h2, .form, .losspw, .signup, .step2 {
    color: #fff;
    margin: 0;
}

h2 {
    color: #1f2d73;
}

.form {
    font-weight: bold;
    color: #8092b6;
    margin-bottom: 5px;
}

.losspw {
    text-align: right;
}

.step2 {
    font-size: 15px;
}

.signup {
    color: #8092b6;
    margin-top: 15px;
}

.otherlink {
    margin-top: auto;
}

a {
    color: #4543db;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: auto;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #302cd8;
    color: white;
    cursor: pointer;
    font-weight: bold;
}


